.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #490847;
  color: white;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  height: 80px;
}

.navbar-brand h3 {
  font-size: 2rem;
  padding: 10px 0;
  color: #8fc20d;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 15px;
}

.navbar-brand h3:hover {
  color: #b6dc96;
}

.nav-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.nav-links span {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links span:hover {
  color: #b6dc96;
}

.navbar-auth {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-auth h5 {
  margin: 0;
  color: rgb(219, 184, 67);
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 15px;
}

.navbar-auth h5:hover {
  color: #b6dc96;
}

.logout-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    gap: 10px;
    margin: 10px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links span {
    font-size: 1rem;
  }

  .logout-button {
    padding: 5px 15px;
    font-size: 0.9rem;
  }

  .navbar-brand h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .nav-links {
    gap: 5px;
    margin: 5px 0;
  }

  .nav-links span {
    font-size: 0.9rem;
  }

  .logout-button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .navbar-brand h3 {
    font-size: 1.2rem;
  }
}
